<a class="navigation" href="/project/list">Back to Projects</a>
	
<h1> SIGN IN </h1>
<%= form_for(:user, :url => {:action => :post_login}) do |form| %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
  	 <table class="form">
      <tr>
        <td><%= form.label(:username, "Username:")%><td>
        <td><%= form.text_field(:username) %><td>
      </tr>
      <tr>
        <td><%= form.label(:password, "Password:")%><td>
        <td><%= form.password_field(:password) %><td>
      </tr>
    </table>
  	 <%= form.submit "Login" %>
<% end %>
<div>~~~~~~~~~~~~~~~~~~~~~~ OR ~~~~~~~~~~~~~~~~~~~~~~</div>

<h1>SIGN UP</h1>
<%= form_for(@newuser, :url => {:action => :create}) do |f| %>
<% if @newuser.errors.any? then %>
    <div id="error_explanation">
      <h2><%= pluralize(@newuser.errors.count, "error") %> prohibited this
      user from being saved:</h2>

      <ul>
      <% @newuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
<% end %>
    <table class="form">
      <tr>
        <td><%= f.label("Username:")%><td>
        <td><%= f.text_field(:username) %><td>
      </tr>
      <tr>
        <td><%= f.label("Password:")%><td>
        <td><%= f.password_field(:password) %><td>
      </tr>
      <tr>
        <td><%= f.label("Confirm Password:")%><td>
        <td><%= f.password_field(:password_confirmation) %><td>
      </tr>
    </table>
    <%= f.submit "Create User" %>
  <% end %>
